@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Raleway:wght@500&display=swap');
:root {
	--mainBgColor: aliceblue;
}
body,
.Header {
	background-color: var(--mainBgColor);
	font-family: 'Lora', cursive;
}
.productCard img {
	transition: 300ms !important;
}
.productCard img:hover {
	transition: 300ms !important;
	transform: scale(0.95) !important;
}
.mainCard {
	min-height: 460px !important;
}
.mainCard p {
	font-weight: 500;
}

/* Login Google logo color gradient */
.loginText {
	background-color: #ffc107;
	background-image: linear-gradient(
		-120deg,
		#4285f4,
		#34a853,
		#fbbc05,
		#ea4335
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
.loginBtn {
	border-radius: 50px;
	background: linear-gradient(145deg, #d8dfe6, #ffffff);
	box-shadow: 16px 16px 46px #c0c6cc, -16px -16px 46px #ffffff;
}
/* Admin */
.adminDash {
	position: sticky;
	top: 100px;
}

/* Custom Table And Table Design and responsive Credit Goes to youtube channel The-WebShala */
.table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.table td,
.table th {
	text-align: center;
	font-size: 16px;
	vertical-align: middle !important;
}

.table th {
	background-color: #0069d9;
	color: #ffffff;
}

.table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

/*responsive*/

@media (max-width: 768px) {
	.Header .navbar-brand {
		display: block;
		margin: auto;
	}
	.Header .navbar-nav {
		flex-direction: row;
		justify-content: center;
		margin: 10px 0 10px 0;
	}
	.adminDash {
		top: 150px;
	}
	.table thead {
		display: none;
	}
	.table,
	.table tbody,
	.table tr,
	.table td {
		display: block;
		width: 100%;
	}
	.table tr {
		margin-bottom: 15px;
	}
	.table td {
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: bold;
		text-align: left;
	}
}
@media (max-width: 425px) {
	.sticky-top {
		position: relative;
	}
	.Header .navbar-brand h1 {
		font-size: 1.5rem;
	}
	.Header .navbar-nav {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.Header .navbar-nav li {
		margin: 5px 0;
	}
}
